<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

   <insert id="memberAdd" parameterType="MemberDTO">
	insert into member (userid,passwd,username,birthday,post,addr1,addr2,phone,email,gradeno,reception)
	values(#{userid},#{passwd},#{username},#{birthday},#{post},#{addr1},#{addr2},#{phone},#{email},#{gradeno},#{reception})
   </insert>

	<select id="login" parameterType="hashmap" resultType="MemberDTO">
	<!-- 휴대전화 - 삽입 substr? concat? -->
	 select userid,passwd,username,birthday,post,addr1,addr2,
	 substr(phone, 1, 3) || '-' ||substr(phone,4,(length(phone)-7))||'-'||substr(phone,-4) as phone,
	 email,gradeno,reception
     from member
     where userid = #{userid} and passwd = #{passwd}
	</select>
	
	<select id="idSearch" parameterType="MemberDTO" resultType="hashmap" >
	select rpad(substr(userid,0,2),length(userid),'*') as userid1, userid
	from member
	where username=#{username} and phone=#{phone} and email=#{email}
	</select>
	
	<select id="idCheck" parameterType="string" resultType="int">
	select count(*)
	from member
	where userid=#{userid}
	</select>
	
	<update id="memberupdate" parameterType="MemberDTO">
	 update member
	 set username=#{username},
	 passwd=#{passwd},
	 birthday = #{birthday},
	 post = #{post},
     addr1 = #{addr1},
     addr2 = #{addr2},
     phone = #{phone},
     email = #{email},
     gradeno=#{gradeno},
     reception=#{reception}
     where userid = #{userid}
	</update>
	
	<delete id="withdrawal" parameterType="hashmap" >
	delete 
	from member
	where userid=#{userid} and passwd=#{passwd}
	</delete>
	
	<select id="pwSearch_phone" parameterType="hashmap" resultType="int">
	select count(*)
	from member
	where userid=#{userid} and username=#{username} 
	</select>
	
	<select id="pwSearch_email" parameterType="hashmap" resultType="int">
	select count(*)
	from member
	where userid=#{userid} and username=#{username} and email=#{email}
	</select>
	
	
	<update id="passwdUpdate" parameterType="hashmap">
	update member
	set passwd=#{passwd}
	where userid=#{userid}
	</update>
</mapper>